.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #EF959D;
  margin: 20px 0 40px;
  padding-bottom: 14px;
  > * {
    margin: 0 5px;
  }
  border-bottom: 2px solid;

}

.navbar-link {
  padding: 0 5px;
  text-decoration: none;

  &:visited {
    color: #EF959D;
  }

  &:hover {
    color: #FCDDBC;
  }
}
