.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  color: #EF959D;
  margin: 20px 0;
  > * {
    margin: 0 5px;
  }
}

.navbar-link {
  padding: 0 5px;
}
