.post-title {
  font-size: 24px;
  color: #FCDDBC;
}

.posts-list {
  list-style: none;
  padding: 0px;
}

.empty-posts {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #FCDDBC;
}
